{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}
Tombolone - Oratorio Parrocchiale S. Domenico Savio
{% endblock %}

{% block content %}
<div class="container">

<div class="masthead">
 <h2 class="text-center">Tombolone - Oratorio Parrocchiale S. Domenico Savio</h2>
 <ul class="nav nav-justified">
  <li><a id="ricomincia" href="ricomincia">Ricomincia</a></li>
  <li><a id="ambo" href="#">Ambo</a></li>
  <li><a id="terno" href="#">Terno</a></li>
  <li><a id="quaterna" href="#">Quaterna</a></li>
  <li><a id="cinquina" href="#">Cinquina</a></li>
  <li><a id="tombola" href="#">TOMBOLA</a></li>
 </ul>
</div>
<br/>
<div class="row">
 <div id="div1" class="col-xs-1 numero nonuscito col-xs-offset-1" >
  1
 </div>
 <div id="div2" class="col-xs-1 numero nonuscito" >
  2
 </div>
 <div id="div3" class="col-xs-1 numero nonuscito" >
  3
 </div>
 <div id="div4" class="col-xs-1 numero nonuscito" >
  4
 </div>
 <div id="div5" class="col-xs-1 numero nonuscito" >
  5
 </div>
 <div id="div6" class="col-xs-1 numero nonuscito" >
  6
 </div>
 <div id="div7" class="col-xs-1 numero nonuscito" >
  7
 </div>
 <div id="div8" class="col-xs-1 numero nonuscito" >
  8
 </div>
 <div id="div9" class="col-xs-1 numero nonuscito" >
  9
 </div>
 <div id="div10" class="col-xs-1 numero nonuscito" >
  10
 </div>
</div>

<div class="row">
 <div id="div11" class="col-xs-1 numero nonuscito col-xs-offset-1" >
  11
 </div>
 <div id="div12" class="col-xs-1 numero nonuscito" >
  12
 </div>
 <div id="div13" class="col-xs-1 numero nonuscito" >
  13
 </div>
 <div id="div14" class="col-xs-1 numero nonuscito" >
  14
 </div>
 <div id="div15" class="col-xs-1 numero nonuscito" >
  15
 </div>
 <div id="div16" class="col-xs-1 numero nonuscito" >
  16
 </div>
 <div id="div17" class="col-xs-1 numero nonuscito" >
  17
 </div>
 <div id="div18" class="col-xs-1 numero nonuscito" >
  18
 </div>
 <div id="div19" class="col-xs-1 numero nonuscito" >
  19
 </div>
 <div id="div20" class="col-xs-1 numero nonuscito" >
  20
 </div>
</div>

<div class="row">
 <div id="div21" class="col-xs-1 numero nonuscito col-xs-offset-1" >
  21
 </div>
 <div id="div22" class="col-xs-1 numero nonuscito" >
  22
 </div>
 <div id="div23" class="col-xs-1 numero nonuscito" >
  23
 </div>
 <div id="div24" class="col-xs-1 numero nonuscito" >
  24
 </div>
 <div id="div25" class="col-xs-1 numero nonuscito" >
  25
 </div>
 <div id="div26" class="col-xs-1 numero nonuscito" >
  26
 </div>
 <div id="div27" class="col-xs-1 numero nonuscito" >
  27
 </div>
 <div id="div28" class="col-xs-1 numero nonuscito" >
  28
 </div>
 <div id="div29" class="col-xs-1 numero nonuscito" >
  29
 </div>
 <div id="div30" class="col-xs-1 numero nonuscito" >
  30
 </div>
</div>

<div class="row">
 <div id="div31" class="col-xs-1 numero nonuscito col-xs-offset-1" >
  31
 </div>
 <div id="div32" class="col-xs-1 numero nonuscito" >
  32
 </div>
 <div id="div33" class="col-xs-1 numero nonuscito" >
  33
 </div>
 <div id="div34" class="col-xs-1 numero nonuscito" >
  34
 </div>
 <div id="div35" class="col-xs-1 numero nonuscito" >
  35
 </div>
 <div id="div36" class="col-xs-1 numero nonuscito" >
  36
 </div>
 <div id="div37" class="col-xs-1 numero nonuscito" >
  37
 </div>
 <div id="div38" class="col-xs-1 numero nonuscito" >
  38
 </div>
 <div id="div39" class="col-xs-1 numero nonuscito" >
  39
 </div>
 <div id="div40" class="col-xs-1 numero nonuscito" >
  40
 </div>
</div>

<div class="row">
 <div id="div41" class="col-xs-1 numero nonuscito col-xs-offset-1" >
  41
 </div>
 <div id="div42" class="col-xs-1 numero nonuscito" >
  42
 </div>
 <div id="div43" class="col-xs-1 numero nonuscito" >
  43
 </div>
 <div id="div44" class="col-xs-1 numero nonuscito" >
  44
 </div>
 <div id="div45" class="col-xs-1 numero nonuscito" >
  45
 </div>
 <div id="div46" class="col-xs-1 numero nonuscito" >
  46
 </div>
 <div id="div47" class="col-xs-1 numero nonuscito" >
  47
 </div>
 <div id="div48" class="col-xs-1 numero nonuscito" >
  48
 </div>
 <div id="div49" class="col-xs-1 numero nonuscito" >
  49
 </div>
 <div id="div50" class="col-xs-1 numero nonuscito" >
  50
 </div>
</div>

<div class="row">
 <div id="div51" class="col-xs-1 numero nonuscito col-xs-offset-1" >
  51
 </div>
 <div id="div52" class="col-xs-1 numero nonuscito" >
  52
 </div>
 <div id="div53" class="col-xs-1 numero nonuscito" >
  53
 </div>
 <div id="div54" class="col-xs-1 numero nonuscito" >
  54
 </div>
 <div id="div55" class="col-xs-1 numero nonuscito" >
  55
 </div>
 <div id="div56" class="col-xs-1 numero nonuscito" >
  56
 </div>
 <div id="div57" class="col-xs-1 numero nonuscito" >
  57
 </div>
 <div id="div58" class="col-xs-1 numero nonuscito" >
  58
 </div>
 <div id="div59" class="col-xs-1 numero nonuscito" >
  59
 </div>
 <div id="div60" class="col-xs-1 numero nonuscito" >
  60
 </div>
</div>

<div class="row">
 <div id="div61" class="col-xs-1 numero nonuscito col-xs-offset-1" >
  61
 </div>
 <div id="div62" class="col-xs-1 numero nonuscito" >
  62
 </div>
 <div id="div63" class="col-xs-1 numero nonuscito" >
  63
 </div>
 <div id="div64" class="col-xs-1 numero nonuscito" >
  64
 </div>
 <div id="div65" class="col-xs-1 numero nonuscito" >
  65
 </div>
 <div id="div66" class="col-xs-1 numero nonuscito" >
  66
 </div>
 <div id="div67" class="col-xs-1 numero nonuscito" >
  67
 </div>
 <div id="div68" class="col-xs-1 numero nonuscito" >
  68
 </div>
 <div id="div69" class="col-xs-1 numero nonuscito" >
  69
 </div>
 <div id="div70" class="col-xs-1 numero nonuscito" >
  70
 </div>
</div>

<div class="row">
 <div id="div71" class="col-xs-1 numero nonuscito col-xs-offset-1" >
  71
 </div>
 <div id="div72" class="col-xs-1 numero nonuscito" >
  72
 </div>
 <div id="div73" class="col-xs-1 numero nonuscito" >
  73
 </div>
 <div id="div74" class="col-xs-1 numero nonuscito" >
  74
 </div>
 <div id="div75" class="col-xs-1 numero nonuscito" >
  75
 </div>
 <div id="div76" class="col-xs-1 numero nonuscito" >
  76
 </div>
 <div id="div77" class="col-xs-1 numero nonuscito" >
  77
 </div>
 <div id="div78" class="col-xs-1 numero nonuscito" >
  78
 </div>
 <div id="div79" class="col-xs-1 numero nonuscito" >
  79
 </div>
 <div id="div80" class="col-xs-1 numero nonuscito" >
  80
 </div>
</div>

<div class="row">
 <div id="div81" class="col-xs-1 numero nonuscito col-xs-offset-1" >
  81
 </div>
 <div id="div82" class="col-xs-1 numero nonuscito" >
  82
 </div>
 <div id="div83" class="col-xs-1 numero nonuscito" >
  83
 </div>
 <div id="div84" class="col-xs-1 numero nonuscito" >
  84
 </div>
 <div id="div85" class="col-xs-1 numero nonuscito" >
  85
 </div>
 <div id="div86" class="col-xs-1 numero nonuscito" >
  86
 </div>
 <div id="div87" class="col-xs-1 numero nonuscito" >
  87
 </div>
 <div id="div88" class="col-xs-1 numero nonuscito" >
  88
 </div>
 <div id="div89" class="col-xs-1 numero nonuscito" >
  89
 </div>
 <div id="div90" class="col-xs-1 numero nonuscito" >
  90
 </div>
</div>

<div class="footer">
 <p>&copy; Oratorio Parrocchiale S. Domenico Savio 2013</p>
</div>

<div class="modal"><!-- Place at bottom of page --></div>

</div>

{% endblock %}

{% block head %}
{{ super() }}
{{ fixes.ie8() }}
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('.static', filename='css/theme.css')}}">
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('.static', filename='js/funzioni.js')}}"></script>
{% endblock %}
